#calculator{
    background-color: pink;
    width: 70%;
    height: 50%;
}

#head{
    position: relative;
    background-color: aliceblue;
    border-radius: 10px;
    width:60%;
    top: 30px;
    left: 130px;
    font-size:medium;
    text-align: center;
}

#parent{
    background-color: grey;
    padding: 20px;
    margin: 100px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    position: relative;
    bottom: 50px;
}

.child{
    background-color: yellow;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: mediums;
}

#div1{
    grid-column: 1/5;
}

#div5{
    background-color: peru;
}

#div9{
    background-color: peru;
}

#div13{
    background-color: peru;
}

#div14{
    background-color: peru;
}

#div16{
    background-color: peru;
}

#div17{
    background-color: peru;
}

#div1{
    background-color: white;
}